body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.game {
    border: 1px solid black;
    height: auto;
    .game-panel {
        border-bottom: 1px solid black;
    } .cheat-panel {
        max-height: 0;
        height: auto;
        overflow: hidden;
        transition: 5s;
        &.active {
            max-height: 100vh;
        }
    }
}