@font-face {
  font-family: 'Pixel';
  src: url("../assets/fonts/BitPotion.woff") format("woff"), url("../assets/fonts/BitPotion.ttf") format("ttf"); }

/* line 7, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
body, html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/bg.gif");
  background-size: cover;
  background-attachment: cover;
  font-family: 'Pixel', monospace; }

/* line 22, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
.container {
  position: relative;
  width: 512px;
  height: 512px;
  border: 2px ridge #b880c0; }
  /* line 27, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
  .container #otherpanes {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }
    /* line 33, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
    .container #otherpanes #debugpane {
      display: none; }
    /* line 35, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
    .container #otherpanes #inventorypane {
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 240px;
      height: 212px;
      background: #eeeeee;
      border: 2px ridge #b880c0;
      padding: 20px;
      box-sizing: border-box;
      transform: translate(-50%, -50%); }
      /* line 47, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #inventorypane.active {
        display: block; }
    /* line 50, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
    .container #otherpanes #pausepane {
      display: none; }
    /* line 52, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
    .container #otherpanes #toolbar {
      position: absolute;
      left: 50%;
      bottom: 24px;
      flex-direction: row;
      transform: translateX(-50%);
      display: none; }
      /* line 59, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #toolbar.active {
        display: flex; }
      /* line 62, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #toolbar div {
        width: 32px;
        height: 32px;
        background: #eeeeee;
        border: 2px ridge #b880c0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        /* line 71, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
        .container #otherpanes #toolbar div::after {
          content: attr(data-quantity);
          position: absolute;
          right: 2px;
          bottom: 2px; }
        /* line 77, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
        .container #otherpanes #toolbar div.active {
          background-image: url("../assets/player/target.png"); }
          /* line 79, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
          .container #otherpanes #toolbar div.active::before {
            content: attr(data-label);
            position: absolute;
            top: calc( 100% + 2px);
            width: 32px;
            text-align: center;
            line-height: 0.5em; }
        /* line 88, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
        .container #otherpanes #toolbar div img {
          width: 24px;
          height: 24px; }
    /* line 93, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
    .container #otherpanes #savepane {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 240px;
      height: auto;
      text-align: center;
      background: #eee;
      border: 2px ridge #b880c0;
      display: none; }
      /* line 104, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #savepane.active {
        display: block; }
      /* line 106, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #savepane #closesave {
        border: 2px ridge #b880c0;
        position: absolute;
        right: 4px;
        top: 4px;
        width: 16px;
        height: 16px;
        background: #eee;
        border-radius: 0;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6px;
        line-height: 6px;
        padding: 0;
        margin: 0; }
      /* line 123, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #savepane #savegame {
        border: 2px ridge #b880c0;
        background: #eee;
        padding: 0 8px;
        border-radius: 0;
        font-family: 'Pixel', monospace;
        font-size: 16px;
        margin-bottom: 12px; }
      /* line 131, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #savepane p {
        font-size: 16px; }
    /* line 134, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
    .container #otherpanes #startscreen {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      /* line 145, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #startscreen.active {
        display: flex; }
      /* line 147, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #startscreen button {
        border: 2px ridge #b880c0;
        background: #eee;
        padding: 0 8px;
        border-radius: 0;
        font-family: 'Pixel', monospace;
        font-size: 24px;
        margin: 0 36px;
        margin-bottom: 12px; }
      /* line 156, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #startscreen pre {
        font-family: 'Courier', monospace;
        font-size: 8px;
        width: auto; }
      /* line 160, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #startscreen .buttonsholder {
        margin-top: 40px; }
    /* line 163, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
    .container #otherpanes #infopane {
      position: absolute;
      right: 12px;
      top: 12px;
      width: 96px;
      height: auto;
      text-align: center;
      background: #eee;
      border: 2px ridge #b880c0;
      display: none;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap;
      justify-content: space-between;
      box-sizing: border-box; }
      /* line 178, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #infopane.active {
        display: flex; }
      /* line 180, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #infopane > div {
        border: 2px ridge #b880c0;
        box-sizing: border-box;
        padding: 0 4px; }
      /* line 184, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #infopane #time {
        flex: 1 0 0; }
      /* line 186, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #infopane #day {
        flex: 0 0 auto; }
      /* line 188, /Users/maya/Desktop/school/MAMP/ic-portfolio/projects/midterm/css/style.scss */
      .container #otherpanes #infopane #money {
        flex: 0 0 100%; }

/*# sourceMappingURL=style.css.map */