@font-face {
    font-family: 'Pixel';
    src: url("../assets/fonts/BitPotion.woff") format("woff"),
        url("../assets/fonts/BitPotion.ttf") format("ttf");
}

body, html {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../assets/bg.gif');
    background-size: cover;
    background-attachment: cover;
    font-family: 'Pixel', monospace;
}

.container {
    position: relative;
    width: 512px;
    height: 512px;
    border: 2px ridge #b880c0;
    #otherpanes {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        #debugpane {
            display: none;
        } #inventorypane {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 240px;
            height: 212px;
            background: #eeeeee;
            border: 2px ridge #b880c0;
            padding: 20px;
            box-sizing: border-box;
            transform: translate(-50%, -50%);
            &.active {
                display: block;
            }
        } #pausepane {
            display: none;
        } #toolbar {
            position: absolute;
            left: 50%;
            bottom: 24px;
            flex-direction: row;
            transform: translateX(-50%);
            display: none;
            &.active {
                display: flex;
            }
            div {
                width: 32px;
                height: 32px;
                background: #eeeeee;
                border: 2px ridge #b880c0;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                &::after {
                    content: attr(data-quantity);
                    position: absolute;
                    right: 2px;
                    bottom: 2px;
                }
                &.active {
                    background-image: url('../assets/player/target.png');
                    &::before {
                        content: attr(data-label);
                        position: absolute;
                        top: calc( 100% + 2px );
                        width: 32px;
                        text-align: center;
                        line-height: 0.5em;
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        } #savepane {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 240px;
            height: auto;
            text-align: center;
            background: #eee;
            border: 2px ridge #b880c0;
            display: none;
            &.active {
                display: block;
            } #closesave {
                border: 2px ridge #b880c0;
                position: absolute;
                right: 4px;
                top: 4px;
                width: 16px;
                height: 16px;
                background: #eee;
                border-radius: 0;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 6px;
                line-height: 6px;
                padding: 0;
                margin: 0;
            } #savegame {
                border: 2px ridge #b880c0;
                background: #eee;
                padding: 0 8px;
                border-radius: 0;
                font-family: 'Pixel', monospace;
                font-size: 16px;
                margin-bottom: 12px;
            } p {
                font-size: 16px;
            }
        } #startscreen {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            &.active {
                display: flex;
            } button {
                border: 2px ridge #b880c0;
                background: #eee;
                padding: 0 8px;
                border-radius: 0;
                font-family: 'Pixel', monospace;
                font-size: 24px;
                margin: 0 36px;
                margin-bottom: 12px;
            } pre {
                font-family: 'Courier', monospace;
                font-size: 8px;
                width: auto;
            } .buttonsholder {
                margin-top: 40px;
            }
        } #infopane {
            position: absolute;
            right: 12px;
            top: 12px;
            width: 96px;
            height: auto;
            text-align: center;
            background: #eee;
            border: 2px ridge #b880c0;
            display: none;
            flex-direction: row;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: space-between;
            box-sizing: border-box;
            &.active {
                display: flex;
            } > div {
                border: 2px ridge #b880c0;
                box-sizing: border-box;
                padding: 0 4px;
            } #time {
                 flex: 1 0 0;
            } #day {
                flex: 0 0 auto;
            } #money {
                flex: 0 0 100%;
            }
        }
    }
}

